:host{
    margin: 23px;
    border: 1px solid #cbcbcb;
    border-radius: 25px;
    display: block;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 1px 1px 3px #c5c5c5;
}